body {
  padding-top: 50px;
}

body #main {
	text-align: center;
}
.container {
}
.myflex {
	flex: 1 1 0;
}

.mytext {
	word-wrap: break-word;
	word-break: break-all;
}

.myfillall {
	height: 100%;
	width: 100%;
}
