#appArea {
	display: flex;
	flex-direction: column;
	height: 90%;
	width: 100%;
}

#appArea div {
	width: 100%;
	display: flex;
}

#appArea div >* {
	flex: 1;
	height: 100%;
	max-width: 50%;
}

#inputtext {
	#margin-top: 7px;
	margin-right 7px;
}

#mytbl{
	#width: 50%;
}

#mytbl tr td {
	border-bottom: 1px solid ;
	word-wrap: break-word;
	word-break: break-all;
}

#mytbl tr td:first-child {
width: 20%;
		 text-align: center;
}

#mytbl tr:first-child td{
	border-top: 1px solid ;
}

